@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}


/* NAVIGATION */

.navbar {
  display: flex;
  align-items: baseline;
  position: fixed;
  width: 100%;
  z-index: 99;
  min-height: 10vh;
  background-color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin: 17px;
}

.navbar a {
  flex-grow: 1;
}
.navbar h1 {
  margin: 20px;
  color: #3f4d79;
  /* border: red solid 2px; */
}

.navbar h3 {
  font-weight: 500;
}
.navbar h3:hover {
  color: #3f4d79;
  font-weight: 600;
}

.navbar img {
  width: 25px;
  height: 25px;
  margin-bottom: 5%;
  display: none;
}

#register-button {
  /* border: solid 2px red; */
  border: #3f4d79 3px solid; 
  color: white;
  font-size: clamp(1rem, 1.1vw, 2rem);
  border-radius: 30px;
  background-color: #3f4d79;
}

#register-button a {
  color: #fff;
  padding: 1.5em;
}

#login-button {
  border: #3f4d79 3px solid; 
  color: #3f4d79;
  font-size: clamp(1rem, 1.1vw, 2rem);
  border-radius: 30px;
  background-color: #fff;
}
#login-button a {
  color: #3f4d79;
  padding: 1.5em;
}

.mobile-links {
  display: none;
  z-index: 10;
}

.mobile-buttons {
  display: none;
}

@media(max-width:700px) {
    .navbar {
      border-bottom: solid 2px #A6ACAF;
    }
    .navbar li { /* for hiding the full screen nav links */
      display: none;
    }
    .navbar img {
      display: flex;
      margin-left: auto;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .mobile-links {
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 5px;
      margin-right: 25px;
      padding: 7px;
      border-left: solid 2px #3f4d79;
    }

    .mobile-buttons-container {
      display: flex;
    }

    .mobile-buttons {
      display: flex;
      margin: 0 5px;
      position: relative;
      top: 65px;
      right: 10%;
    }

    #register-button, #login-button {
      font-size: clamp(0.9rem, 1.1vw, 2rem);
      padding: 0.3em 0.5em;
    }
  }

/* Form component */

.form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: auto;
  padding: 20px;
  color: #fff;
  background-color: #3f4d79;
  border: solid 5px #333;
  border-radius: 25px;
  z-index: 10; /* To go infront of the background image */
}

.form-heading {
  text-align: center;
}  

.form h2 {
  margin-bottom: 30px;
}

.form input {
  padding: 10px 0;
  border: 3px solid #3f4d79;
  border-radius: 10px;
  padding-left: 10px;
}

.form button {
  width: 50%;
  color: #333;
  background-color: lawngreen;
  border: solid 3px green;
  border-radius: 10px;
  margin-left: 25%;
  padding: 0.4rem;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.form-names {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-subheading {
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
  color: #fff;
  border-top: #fff 1px solid;
}
.form-subheading a {
  color: #fff;
}

@media (max-width:685px) {
  .form {
    width: 85%;
  }
  .form-names {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}


/* Register page */

.register {
  position: relative;
  top: 165px;
  height: 110vh;
  margin-bottom: 160px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.register img {
  position: relative;
  bottom: 930px;
  right: 350px;
  width: 2000px;
  opacity: 0.6;
  z-index: -1;
}


/* Login Page */

.login {
  position: relative;
  top: 165px;
  margin-bottom: 350px;
}



/* HOME MAIN CONTENT */  
  
.hero {
  display: flex;
  top: 70px;
  min-height: 90vh; 
  width: 100%;
  position: relative; /* So that elements inside can be positioned absolutely within it */
  background-image: url("./img/OES2patternpad.svg");
  background-size: 10000px;
  background-position: 50% 50%;
}

.hero > * { /* to select all children within it */
  position: absolute;
}

/* Right image */
.hero img:nth-child(1) {
  width: 300px;
  height: 75%;
  top: 25%;
  right: 10px;
}

/* Left image */
.hero img:nth-child(2) {
  width: 300px;
  height: 75%;
  bottom: 25%;
  left: 10px;
  transform: scaleX(-1);
}

.hero h1 {
  width: 100%;
  top: 22%;
  font-size: clamp(3rem, 5vw, 5rem);
  text-align: center;
}

.hero h2 {
  width: 100%;
  top: 45%;
  font-weight: 100;
  font-size: clamp(2rem, 3vw, 5rem);
  text-align: center;
} 

.hero-btns {
  display: flex;
  width: 100%;
  position: relative;
  right: 2em;
  justify-content: center;
  align-items: center;
  top: 130px;
  margin: auto;
}

.hero-btn-left {
  padding: 1.4em;
  margin: 0 2em;
  white-space: nowrap;
  font-size: clamp(0.9rem, 1.5vw, 2.5rem);
  border: #3f4d79 2px solid;
  border-radius: 30px;
  background-color: #3f4d79;
  color: #fff;
}

.hero-btn-right {
  padding: 1.4em;
  border: #3f4d79 3px solid; 
  color: #3f4d79;
  font-size: clamp(0.9rem, 1.5vw, 2.5rem);
  border-radius: 30px;
  background-color: #fff;
}

@media(max-width:900px) {
  .hero img:nth-child(1) {
    opacity: 0.6;
    width: 300px;
  }
  .hero img:nth-child(2) {
    opacity: 0.6;
    width: 300px;
  }
}

@media(max-width:600px) {

  .hero img:nth-child(1), .hero img:nth-child(2) {
    opacity: 0.4;
    width: 200px;
  }
}

@media(max-width:360px) {
  .hero-btns {
    right: 0.5em;
  }
  .hero-btn-left, .hero-btn-right {
    font-size: 0.7rem;
  }
}

.infoContainer {
  position: relative;
  flex-direction: column;
  width: 100%;
  top: 70px;
  border-top: 20px solid #3f4d79;
}

.infoContainer > * {
  min-height: 60vh;
}

.infoContainer section {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.infoBox1 img, .infoBox2 img {
  min-width: 50%;
  max-width: 700px;
 
}

.infoContainer h1 {
  font-size: clamp(1rem, 3rem, 5rem);
  padding-bottom: 2rem;
}

.infoContainer h3 {
  font-size: clamp(1rem, 2rem, 5rem);
  font-weight: 100;
  text-align: center;
  align-self: center;
  max-width: 70%;
}

.infoBoxtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoBox2 {
  flex-direction: row-reverse;
  background-color: #3f4d79;
  color: #fff;
}

.infoBox3 {
  flex-direction: column;
  align-items: center;
}
.infoBox3 img {
  max-width: 20rem;
}

@media (max-width:700px) {
  .infoBox1, .infoBox2 {
    flex-direction: column;
    align-items: center;
  }
  .infoBox1 img, .infoBox2 img {
    width: 100%;
  }
  .infoBox2 h1 {
    padding-top: 25px;
  }
}


/* TEACHERS */

.teachers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 105px;
  margin-bottom: 230px;
  overflow-x: hidden;
  /* border: 2px solid red; */
}

.teachers-hero-heading {
  text-align: center;
  /* margin-top: -30px; */
}

.teachers-hero-img {
  width: 100%;
  max-width: 1100px;
  /* border: solid 2px red; */
  z-index: -1;
  margin-top: -50px;
}

@media (max-width:800px) {

  .teachers {
    top: 160px;
  }

  .teachers-hero-heading {
    margin-bottom: 25px;
  }
 
}


.teachers-hero-subheading {
  text-align: center;
  font-size: clamp(1.7rem, 2vw, 2.3rem);
  margin-top: -10%;
}

.teacher-card-grid {
  display: grid;
  width: 85%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
  margin-top: 45px;
}

.teacher-card {
  border: solid 2px #3f4d79;
  border-radius: 25px;
  height: 660px;
  margin: 15px;
  background-color: snow;
  /* box-shadow: 5px 10px #888888; */
}
.teacher-card-name {
  padding: 10px;
  color: #3f4d79;
  text-align: center;
}
.teacher-card-text {
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  /* border: solid 2px red; */
}

.teacher-img {
  /* width: 100%;
  min-height: 20rem; */
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.teacher-info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faOnline {
  color: lawngreen;
  background-color: lawngreen;
  border: green 2px solid;
  border-radius: 50%;
}

.faOffline {
  color: lightgray;
  background-color: lightgray;
  border: grey 2px solid;
  border-radius: 50%;
}

.teacher-card-bottom {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.teacher-bio {
  padding: 2%;
  line-height: 1.5rem;
  text-align: center;
}

.teacher-select-btn {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  padding: 0.2rem;
  font-size: clamp(0.9rem, 1.1vw, 2rem);
  color: white;
  background-color: #3f4d79;
  text-transform: uppercase;
  border: #3f4d79 3px solid; 
  border-radius: 15px;
}

@media (max-width:1050px){
  .teacher-card-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media (max-width:800px){
  .teacher-card-grid {
    grid-template-columns: 1fr;
  }
  .teacher-card {
    min-height: 325px;
  }
  .teacher-select-btn {
    font-size: 1.3rem;
  }
}

@media(max-width:400px) {
  .teacher-select-btn {
    font-size: 0.8rem;
  }
}


/* MATERIALS */

.materials {
  display: flex;
  position: relative;
  top: 200px;
  margin-bottom: 250px; 
  padding-top: 100px;
}

.materials-header {
  position: absolute;
  width: 70%;
  top: -80px;
  font-size: clamp(1.5rem, 2.2vw, 2.3rem);
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

.materials-hero {
  display: flex;
  height: 90vh;
  position: relative;
  top: -30px;
  overflow: hidden;
  max-width: 100%;
}

.materials-hero-img {
  position: absolute;
  z-index: -1;
  width: 50%;
  right: 46%;
  border: #3f4d79 solid 2px;
  transform: scale(2) rotate(315deg);
  /* opacity: 0.4; */
  filter: contrast(40%);
}
.materials-hero-info-highlight {
  filter: contrast(80%);
  position: absolute;
  z-index: -1;
  border: #3f4d79 solid 2px;
  width: 50%;
}

#conversation-img {
  transform: rotate(315deg) scale(2);
  right: 55%;
}

#news-img {
  transform: translate(5%, 85%) rotate(315deg) scale(2);
  right: 0%;
  top: 70px;
}

.materials-hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.6em;
  height: 350px;
  width: 25%;
  border: solid 5px #3f4d79;
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  background-color: rgba(255,250,250,0.8);
}

#conversation-info {
  margin-left: 4%;
  margin-top: 2%;
}

#news-info {
  margin-left: 35%;
  margin-top: 25%;
}

.materials-hero-info-btn {
  width: 60%;
  padding: 10px;
  margin-top: 25px;
  font-size: clamp(0.2rem, 1.3vw, 5rem);
  color: #fff;
  background-color: #3f4d79;
  text-transform: uppercase;
  font-weight: 600;
  border: #3f4d79 1px solid; 
  border-radius: 15px;
}


/* Styles to apply on smaller screens */
.materials-hero-info-btn-sm button {
  display: none;
  width: 100%;
  padding: 10px;
  font-size: clamp(0.7rem, 1.9vw, 5rem);
  color: #fff;
  background-color: #3f4d79;
  text-transform: uppercase;
  font-weight: 600;
  border: #fff 1.5px solid;
  border-radius: 15px;
}

.materials-hero p {
  padding: 15px;
}

@media(max-width:900px) {

  .materials {
    margin-bottom: 75%;
  }

  .materials-header {
    top: -70px;
  }
  .materials-hero {
    width: 100%;
    overflow: visible;
    max-height: 82vh;
    top: -100px;
  }

  .materials-hero-info {
    display: none;
  }

  #conversation-img, #news-img {
    transform: scale(1);
    width: 100%;
  }

  #conversation-img {
    top: 50px;
    right: 0;
  }

  #news-img {
    top: 100px;
    margin-top: 50%;
  }

  #conversation-btn-sm {
    margin-top: 35%;
    width: 100%;
    position: absolute;
    display: block;
  }
  
  #news-btn-sm {
    margin-top: 100%;
    position: absolute;
    display: block;
  }
}

@media(max-width:410px) {

  .materials-header {
    font-size: 1.3rem;
  }
}



/* Pricing */

.pricing {
  position: relative;
  top: 190px;
  overflow: hidden;
  margin-bottom: 180px;
}

.pricing-header {
  width: 70%;
  text-align: center;
  font-size: clamp(1.8rem, 2.3vw, 2.4rem);
  line-height: 2.3rem;
  margin: auto;
  margin-bottom: 30px;
}

.pricing-hero {
  height: 725px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  line-height: 2.3rem;
}

.pricing img {
  width: 100%;
  margin: 10px 0;
  background-color: #fff;
}

.pricing section {
  width: 400px;
  margin: 0 10px;
  padding: 10px 0;
  border-radius: 25px;
  color: #fff;
}


.pricing section li {
  text-align: left;
  padding-left: 12%;
  font-size: clamp(0.8rem, 1.2vw, 2rem);
  background-image: url('./img/tick.png');
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.pricing-btn {
  width: 80%;
  margin-top: 7%;
  padding: 0.5rem;
  font-size: clamp(1rem, 1.4vw, 2rem);
  color: white;
  background-color: #3f4d79;
  text-transform: uppercase;
  border: #fff 1px solid; 
  border-radius: 15px;
}

.pricing-starter {
  background-color: #7280AC;
  border: solid 2px #7280AC;
}

.pricing-regular {
  background-color: #596793;
  border: solid 2px #596793;
}

.pricing-prime {
  background-color: #3f4d79;
  border: solid 2px #3f4d79;
}

.pricing-feedback {
  position: relative;
  background-color: #3f4d79;
}

.pricing-feedback h2 {
  text-align: center;
  font-size: clamp(1.9rem, 2.3vw, 2.4rem);
  padding-top: 25px;
  margin-bottom: 25px;
  color: #fff;
}


/* What our students are saying */

.pricing-feedback img {
  position: relative;
  margin: auto;
  display: block;
  width: 80%;
  bottom: 100px;
  background-color: #3f4d79;
}

.pricing-quotes-container {
  display: flex;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.pricing-quotes-lg {
  color: #fff;
  padding: 30px;
  text-align: center;
  font-size: clamp(1rem, 1.2vw, 2rem);
  z-index: 2;
  
}


@media (max-width:950px) {
  
  .pricing-header {
    padding-bottom: 80px;
  }

  .pricing-hero {
    flex-direction: column;
    width: 55%;
    margin-top: 630px;
    margin-bottom: 700px;
  }

  .pricing section {
    margin: 30px 0;
  }

  .pricing section li {
    font-size: 1rem;
    background-size: 12px 12px;
  }

  .pricing-feedback img {
    width: 100%;
    /* bottom: 15%; */
  }
}


@media(max-width:750px) {
  .pricing-quotes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    z-index: 2;
  }
  .pricing-feedback img {
    position: absolute;
    opacity: 0.15;
    top: 220px;
    width: 100%;
  }
}

@media(max-width:450px) {
  .pricing section {
    width: 300px;
  }
}


/* Footer */

.footer {
  width: 100%;
  height: 60px;
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #3f4d79;
}