@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
}
/* NAVIGATION */

.navbar {
  display: flex;
  align-items: baseline;
  position: fixed;
  width: 100%;
  z-index: 99;
  min-height: 10vh;
  /* border: red 2px solid; */
  background-color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin: 17px;
}

.navbar a {
  flex-grow: 1;
}
.navbar h1 {
  margin: 20px;
  color: #3f4d79;
  /* border: red solid 2px; */
}

.navbar h3 {
  font-weight: 500;
}
.navbar h3:hover {
  color: #3f4d79;
  font-weight: 600;
}

.navbar img {
  width: 25px;
  height: 25px;
  margin-bottom: 5%;
  display: none;
}

#register-button {
  /* border: solid 2px red; */
  border: #3f4d79 3px solid; 
  color: white;
  font-size: clamp(1rem, 1.1vw, 2rem);
  border-radius: 30px;
  background-color: #3f4d79;
}
#register-button a {
  color: #fff;
  padding: 1.5em;
}

#login-button {
  border: #3f4d79 3px solid; 
  font-size: clamp(1rem, 1.1vw, 2rem);
  border-radius: 30px;
  background-color: #fff;
}
#login-button a {
  color: #3f4d79;
  padding: 1.5em;
}

.mobile-links {
  display: none;
  z-index: 10;
}

@media(max-width:700px) {
    .navbar {
      flex-direction: column;
      /* border: red 2px solid; */
    }
    .navbar li { /* the full screen nav links */
      display: none;
    }
    .navbar img {
      display: flex;
      margin-left: auto;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .mobile-links {
      display: flex;
      position: relative;
      bottom: 15px;
      /* flex-direction: column; */
      margin-left: auto;
      padding: 5px;
      margin-right: 5px;
    }
  }




/* HOME MAIN CONTENT */  
  
.hero {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* border: red 2px solid; */
  top: 108px;
  min-height: 90vh; 
  width: 100%; /* All of the screen across */
  /* margin: 0 auto; */
  position: relative; /* So that elements inside can be positioned absolutely within it */
}

.hero > * { /* this selects all children within it */
  position: absolute;
}


.hero img:nth-child(1) {
  width: 300px;
  height: 75%;
  top: 25%;
  right: 10px;
  /* border: red 2px solid; */
}

.hero img:nth-child(2) {
  width: 300px;
  height: 75%;
  bottom: 30%;
  left: 10px;
  /* border: red 2px solid; */
  transform: scaleX(-1);
}

.hero h1 {
  width: 100%;
  top: 22%;
  font-size: clamp(3rem, 5vw, 5rem);
  /* border: red 2px solid; */
  text-align: center;
}

.hero h2 {
  width: 100%;
  top: 40%;
  font-weight: 100;
  font-size: clamp(2rem, 3vw, 5rem);
  /* border: red 2px solid; */
  text-align: center;
} 

.hero button {
  /* width: 30%; */
  /* min-width: 20%; */
  /* max-width: 22vw; */
  top: 60%; 
  left: 30%;
  padding: 1.2em;
  white-space: nowrap; /* text will stay on one line */
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  border: #3f4d79 2px solid;
  border-radius: 30px;
  background-color: #3f4d79;
  color: #fff;
}

@media(max-width:900px) {
  .hero img:nth-child(1) {
    opacity: 0.6;
    width: 300px;
  }
  .hero img:nth-child(2) {
    opacity: 0.6;
    width: 300px;
  }
}

@media(max-width:600px) {
  .hero img:nth-child(1) {
    opacity: 0.4;
    width: 200px;
  }
  .hero img:nth-child(2) {
    opacity: 0.4;
    width: 200px;
  }
}

.infoContainer {
  position: relative;
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  /* border: 2px solid blue; */
  top: 100px;
  border-top: 100px solid #3f4d79;
}

.infoContainer > * {
  min-height: 60vh;
  /* border: 2px solid red; */
}

.infoContainer section {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.infoBox1 img, .infoBox2 img {
  min-width: 50%;
  max-width: 700px;
 
}

.infoContainer h1 {
  font-size: clamp(1rem, 3rem, 5rem);
  padding-bottom: 2rem;
}

.infoContainer h3 {
  font-size: clamp(1rem, 2rem, 5rem);
  font-weight: 100;
  text-align: center;
  align-self: center;
  max-width: 70%;
}

.infoBoxtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoBox2 {
  flex-direction: row-reverse;
  background-color: #3f4d79;
  color: #fff;
}

.infoBox3 {
  flex-direction: column;
  align-items: center;
}
.infoBox3 img {
  max-width: 20rem;
  /* border: red 2px solid; */
}

@media (max-width:700px) {
  .infoBox1, .infoBox2 {
    flex-direction: column;
    align-items: center;
  }
  .infoBox1 img, .infoBox2 img {
    width: 100%;
  }
  /* .infoBox2 {
    flex-direction: column;
    align-items: center;
  } */
}


/* TEACHERS */

.teachers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  margin-bottom: 200px;
}

.teachers-hero-img {
  width: 60rem;
  /* border: solid 2px red; */
}

@media (max-width:735px) {
  .teachers-hero-img {
    width: 38rem;
    margin-top: 30px;
  }  
}

.teachers h2 {
  /* position: absolute;
  top: 25px; */
  text-align: center;
  font-size: 2rem;
  margin-top: -23px;
}

.teacher-card-grid {
  display: grid;
  /* position: relative; */
  width: 85%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
  margin-top: 25px;
}

.teacher-card {
  /* position: relative; */
  border: solid 2px #3f4d79;
  border-radius: 25px;
  height: 650px;
  margin: 15px;
  background-color: snow;
  /* box-shadow: 5px 10px #888888; */
}
.teacher-card-name {
  padding: 10px;
  color: #3f4d79;
  text-align: center;
}
.teacher-card-text {
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  /* border: solid 2px red; */
}

.teacher-img {
  /* width: 100%;
  min-height: 20rem; */
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.teacher-info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faOnline {
  color: lawngreen;
  background-color: lawngreen;
  border: green 2px solid;
  border-radius: 50%;
}

.faOffline {
  color: lightgray;
  background-color: lightgray;
  border: grey 2px solid;
  border-radius: 50%;
}

.teacher-card-bottom {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.teacher-bio {
  padding: 2%;
  text-align: center;
}

.teacher-select-btn {
  width: 80%;
  margin: auto;
  margin-top: 13%;
  padding: 0.3rem;
  font-size: clamp(0.9rem, 1.1vw, 2rem);
  color: white;
  background-color: #3f4d79;
  text-transform: uppercase;
  border: #3f4d79 3px solid; 
  border-radius: 15px;
}

@media (max-width:1050px){
  .teacher-card-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media (max-width:800px){
  .teacher-card-grid {
    grid-template-columns: 1fr;
  }
  .teacher-card {
    min-height: 325px;
  }
  .teacher-select-btn {
    font-size: 1.3rem;
  }
}




/* MATERIALS */

.materials {
  position: relative;
  top: 100px;
  height: 90vh;
  margin-bottom: 600px; /* just to separate footer */
  overflow: hidden;
}

.materials-hero {
  display: flex;
  position: relative;
  /* max-height: 50vh; */
  max-width: 100%;
}

.materials-hero-img {
  position: absolute;
  z-index: -1;
  width: 50%;
  right: 46%;
  border: #3f4d79 solid 2px;
  transform: scale(2) rotate(315deg);
  /* opacity: 0.4; */
  filter: contrast(40%);
}
.materials-hero-info-highlight {
  filter: contrast(80%);
  position: absolute;
  z-index: -1;
  border: #3f4d79 solid 2px;
  width: 50%;
}

#conversation-img {
  transform: rotate(315deg) scale(2);
  right: 55%;
}

#news-img {
  transform: translate(5%, 85%) rotate(315deg) scale(2);
  right: 0%;
  top: 70px;
}


.materials-hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.6em;
  height: 350px;
  width: 25%;
  border: solid 5px #3f4d79;
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  background-color: rgba(255,250,250,0.8);
}

#conversation-info {
  margin-left: 4%;
  margin-top: 2%;
}

#news-info {
  margin-left: 35%;
  margin-top: 25%;
}

.materials-hero-info-btn {
  width: 60%;
  padding: 10px;
  margin-top: 25px;
  font-size: clamp(0.2rem, 1.3vw, 5rem);
  color: #fff;
  background-color: #3f4d79;
  text-transform: uppercase;
  font-weight: 600;
  border: #3f4d79 1px solid; 
  border-radius: 15px;
}

.materials-hero-info-btn-sm { /* buttons container */
  display: none;
  height: 662px;
  width: 100vw;
  margin-top: 50px;
  margin-left: 15%;  
}

.materials-hero-info-btn-sm button {
  width: 80%;
  padding: 15px;
  font-size: clamp(0.8rem, 1.9vw, 5rem);
  color: #fff;
  background-color: #3f4d79;
  text-transform: uppercase;
  font-weight: 600;
  border: #fff 1.5px solid;
  border-radius: 15px;
}

#conversation-btn-sm {
  margin-top: 140px;
}

#news-btn-sm {
  margin-top: 70%;
}

.materials-hero p {
  padding: 15px;
}

@media (max-width:950px){
  .materials-hero-info {
    width: 25%;
  }
}

@media(max-width:800px) {
  .materials {
    overflow: visible;
  }
  #conversation-img {
    transform: scale(1);
    width: 100%;
    top: 50px;
    right: 0;
    left: 0;
  }
  #news-img {
    transform: scale(1);
    width: 100%;
    top: 120px;
    left: 0;
    margin-top: 50%;
  }
  .materials-hero-info {
    display: none;
  }
  .materials-hero-info-btn-sm {
    display: block;
  }
  
}


/* Pricing */

.pricing {
  position: relative;
  top: 190px;
  overflow: hidden;
  /* height: 750px; */
  margin-bottom: 600px;
}

.pricing-header {
  width: 60%;
  text-align: center;
  font-size: clamp(1.9rem, 2.3vw, 2.4rem);
  line-height: 2.3rem;
  margin: auto;
  /* border: solid 2px red; */
  margin-bottom: 50px;
}

.pricing-hero {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  line-height: 2.3rem;
  height: 725px;
  /* border: solid 2px red; */
}

.pricing img {
  width: 100%;
  margin: 10px 0;
  /* border: red solid 2px; */
  background-color: #fff;
}

.pricing section {
  width: 400px;
  margin: 0 10px;
  padding: 10px 0;
  /* border: red solid 2px; */
  /* border: #3f4d79 solid 2px; */
  border-radius: 25px;
  /* background-color: #3f4d79; */
  color: #fff;
  /* background-image: url('./img/menuIcon.svg'); */
  /* font-size: clamp(1rem, 1.4vw, 1.5rem); */
}


.pricing section li {
  text-align: left;
  padding-left: 15%;
  font-size: clamp(0.8rem, 1.2vw, 2rem);
  background-image: url('./img/tick.png');
  background-position: 5% 50%; /* change to px */
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.pricing-btn {
  width: 80%;
  margin-top: 7%;
  padding: 0.5rem;
  font-size: clamp(1rem, 1.4vw, 2rem);
  color: white;
  background-color: #3f4d79;
  text-transform: uppercase;
  border: #fff 1px solid; 
  border-radius: 15px;
}

.pricing-starter {
  background-color: #7280AC;
  border: solid 2px #7280AC;
}

.pricing-regular {
  background-color: #596793;
  border: solid 2px #596793;
}

.pricing-prime {
  background-color: #3f4d79;
  border: solid 2px #3f4d79;
}


@media (max-width:950px) {
  .pricing-hero {
    flex-direction: column;
    width: 55%;
    margin-top: 630px;
  }
  .pricing section {
    margin: 30px 0;
  }
  
  .pricing section li {
    font-size: 1rem;
    background-size: 12px 12px;
  }
}

.pricing-feedback {
  height: 900px;
  margin-top: 30px;
  background-color: #3f4d79;
  /* border: solid red 2px; */
}

.pricing-feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-feedback h2 {
  text-align: center;
  font-size: clamp(1.9rem, 2.3vw, 2.4rem);
  padding-top: 25px;
  margin-bottom: 25px;
  color: #fff;
}

.pricing-feedback img {
  position: absolute;
  top: 1050px;
  max-width: 62rem;
  min-width: 45rem;
  background-color: #3f4d79;
}

.pricing-quotes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.pricing-quotes-lg {
  /* width: 60%; */
  /* border: solid 2px red; */
  color: #fff;
  padding: 30px;
  font-size: clamp(1rem, 1.3vw, 2rem);
  z-index: 2;
}

@media (max-width:950px) {
  .pricing-feedback {
    margin-top: 650px;
  }
  .pricing-feedback img {
    opacity: 0.15;
    top: 2200px;
  }
}

@media(max-width:700px) {
  .pricing-quotes-container {
    display: grid;
    position: relative;
    top: 50px;
    left: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    z-index: 2;
  }
}


/* Footer */

.footer {
  width: 100%;
  height: 60px;
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #3f4d79;
}